body {
    margin: 0;
    max-width: 100vw;
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

.bg-color {
    position: fixed;
    background: linear-gradient(-45deg, #00F5C7 0%, #6F7BE5 25%, #F525A4 52%, #E5426F 75%, #ff370a 100%);
    background-size: 800%;
    animation: waveColors 20s ease-in-out infinite;
    width: 100%;
    height: 1300px;
    z-index: -1;
}

@keyframes waveColors {
    0% {
        background-position: 0% 7%;
    }
    50% {
        background-position: 100% 94%;
    }
    100% {
        background-position: 0% 7%;
    }
}

.navbar  {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 104px;
    z-index: 10;
    background: transparent;
    backdrop-filter: blur(20px);
    z-index: 1;
}

.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 23px 35px;
    text-decoration: none;
    font-family: 'ABeeZee';
    font-size: 50px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.55s;
    cursor: pointer;
    z-index: 2;
}

.navbar a:hover {
    content: "";
    background: white;
    border-radius: 5px;
    display: block;
    z-index: 3;
}

.navbar a.right {
    float: right;
    opacity: 1;
}

h1 {
    position: relative;
    color: white;
    font-family: 'ABeeZee';
    font-size: 150px;
    text-align: center;
}

h2 {
    display: flex;
    position: fixed;
    justify-content: center;
    left: 50%;
    top: 70%;
}

.link-container {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    z-index: 6;
}

.square, .square2, .square3 {
    height: auto;
    width: auto;
    background-color: #000000;
    border-radius: 8px;
    margin: 0 1vw;
}

.square img, .square2 img {
    max-width: 4vw;
    height: auto;
    margin: 1vw;
}


.footer {
    margin: 0;
    background-color: black;
    height: 10vh;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 5;
}

#title_animation {
    opacity: 100;
}


