/* Website */

/* Large */
@media only screen and (min-device-width: 1600px) {
    h1 {
        font-size: 8vw;
    }

    .footer_container {
        margin-top: 50vh;
    }
}

/* Med/Large */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1599px) {
    h1 {
        font-size: 10vw;
    }

    .footer_container {
        margin-top: 50vh;
    }
}


/* Medium */
@media only screen and (min-device-width: 768px) and (max-device-width:1023px) { 
    h1 {    
        font-size: 12vw;
    }

    .footer_container {
        margin-top: 50vh;
    }

}


/* Small */
@media only screen and (min-device-width: 475px) and (max-device-width:767px) { 
    h1 {
        font-size: 18vw;
    }

    .footer_container {
        margin-top: 50vh;
    }

}

/* Tiny */
@media only screen and (min-device-width: 0px) and (max-device-width:474px) {
    h1 {
        font-size: 25vw;
    }

    .link-container {
        scale: 80%;
    }

    .square img, .square2 img {
        width: 35vw;
    }

    .footer_container {
        margin-top: 50vh;
    }
}

/* Small Height */
@media only screen and (min-device-height: 0px) and (max-device-height: 999px) {
    .footer_container {
        margin-top: 45vh;
    }
}

body {
    margin: 0;
    max-width: 100vw;
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

.bg-color {
    position: fixed;
    background: linear-gradient(-45deg, #00F5C7 0%, #6F7BE5 25%, #F525A4 52%, #E5426F 75%, #ff370a 100%);
    background-size: 800%;
    animation: waveColors 20s ease-in-out infinite;
    width: 100%;
    height: 1300px;
    z-index: -1;
}

@keyframes waveColors {
    0% {
        background-position: 0% 7%;
    }
    50% {
        background-position: 100% 94%;
    }
    100% {
        background-position: 0% 7%;
    }
}

h1 {
    position: relative;
    color: white;
    font-family: 'ABeeZee';
    text-align: center;
}

.link-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 6;
    margin: 0;
    width: 100%;
}

.square, .square2 {
    position: relative;
    background-color: #000000;
    border-radius: 8px;
    margin-right: 1rem;
    margin-left: 1rem;
    display: flex;
    transition-duration: 600ms;
}

.square:hover, .square2:hover {
    transition-duration: 600ms;
    filter: invert()
}

.square img, .square2 img {
    margin: 1rem 1rem;
    width: 150px;
}

.footer_container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 20vh;
}

.footer {
    margin: 0;
    background-color: black;
    height: 10vh;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 10px;
    z-index: 5;
}

#title_animation {
    opacity: 100;
}






.navbar  {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 104px;
    z-index: 10;
    background: transparent;
    backdrop-filter: blur(20px);
    z-index: 1;
}

.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 23px 35px;
    text-decoration: none;
    font-family: 'ABeeZee';
    font-size: 50px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.55s;
    cursor: pointer;
    z-index: 2;
}

.navbar a:hover {
    content: "";
    background: white;
    border-radius: 5px;
    display: block;
    z-index: 3;
}

.navbar a.right {
    float: right;
    opacity: 1;
}